
@import url("reset.css");


body {
    font-family: 'arial';
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 4px solid;
    border-radius: 10px;
    gap: 16px;
    max-width: 2000px;
    margin: 100 auto;
    padding: 20px 10px;
}

#container-info {
    background-color: rgb(92, 85, 85);
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#container-profile-pic {
    background-color: white;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 20px;
}


.profile-pic {
    border-radius: 50%;
    max-width: 100px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.info-photo {
    border-radius: 5px;
    align-content: center;
    width: 100%;
    height: 100%;
}

.info-btn {
    background-color: #fc4d26;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.info-btn:hover {
    background-color: #0b5345;
}

/* Responsive Design */
@media (max-width: 499px) {
    .info-card {
        flex-direction: column;
        text-align: center;
    }

    .info {
        flex-direction: column;
    }

    .info-btn {
        width: 100%;
        padding: 12px;
    }
}

@media (min-width: 500px) {

	#container-article-sidebar {
		display: flex;
		justify-content: space-between;
	}
}

@media (min-width: 768px) {

	#container-article-sidebar {
		display: flex;
		justify-content: space-between;
	}
}