

@import url("reset.css");

html {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'arial', monospace;
    background-color: #f4f4f4;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    background-color: rgb(19, 87, 176);
    border: 5px solid  black;
    border-radius: 10px;
    gap: 10px;
    margin: auto;
    padding: 10px 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-profile {
    width: 200px;
    display: flex;
    align-items: center;
}

#container-profile-pic {
    display: flex;
    width: 175px;
    background-color: #fc4d26;
    border: solid 5px black; 
    border-radius: 20px;
    padding: 10px;
}

#img-profile-pic {
    border-radius: 50%;
    width: 100%;
}

#container-ad1, #container-ad2, #container-ad3, #container-ad4 {
    display: flex;
    visibility: hidden;
    position: absolute;
    top: -9999px;
}


#img-ad1, #img-ad2, #img-ad3, #img-ad4 {
    width: 0;
}

#section-about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    gap: 15px;
    background-color: lightgray;
    border-radius: 20px;
    border: solid 5px black; 
    padding-top: 14px;
}

#container-about-pic {
    width: 208px;
    border-radius: 10px;
}
  
#img-about-pic {
    border-radius: 10px;
    border: 5px solid black;
    width: 100%;
}

h1 {
    font-size: 16px;
    text-align: center;
    text-wrap: nowrap;
    background-color: #fc4d26;
    color: white;
    border: solid 5px black; 
    text-decoration: none;
    padding: 10px 17px;
    margin-bottom: 14px;
    border-radius: 10px;
}

@media (min-width: 500px) {

	article {
        width: 520px;
        height: 350px;
        background-color: rgb(236, 16, 16);
    }

    #section-profile {
        width: 490px;
        gap: 10px;
        flex-direction: row;
    }

    #container-profile-pic {
        width: 200px;
    }

    #container-ad1, #container-ad2 {
        visibility: visible;
        position: static;
    }

    #container-ad1 {
        width: 150px;
    }

    #container-ad2 {
        width: 175px;
        padding: 5px;
        background-color: purple;
    }

    #img-ad1, #img-ad2 {
        width: 100%;
    }

    #section-about {
        flex-direction: row;
        gap: 10px;
        margin: 10px;
        width: 490px;
        height: 130px;
        background-color: rgb(32, 156, 45);
        padding: 5px;
    }

    #container-about-pic {
        width: 230px;
    }
      
    
    h1 {
        font-size: 17.5px;
        margin-bottom: 0;
    }
    
}

@media (min-width: 768px) {

	article {
        width: 750px;
        height: 675px;
        flex-direction: row;
        background-color: rgb(225, 19, 177);
        gap: 50px;
        padding-left: 40px;
    }


    section {
        flex-direction: column;
        padding: 20px;
    }

    #section-profile {
        width: 270px;
        gap: 20px;
        flex-direction: column;
    }

    #container-profile-pic {
        width: 300px;
        height: 300px;
    }

    #container-ad1 {
        width: 150px;
    }

    #container-ad2 {
        width: 180px;
        padding: 7px;
        background-color: purple;
    }

    #section-about {
        flex-direction: column;

        width: 300px;
        margin-top: 29px;
        gap: 20px;
        height: 300px;
        background-color: rgb(32, 156, 45);
        border: solid 5px black; 
    }

    #container-about-pic {
        width: 275px;    
    }
    
    #img-about-pic {
        width: 100%;
    }

    h1 {
        font-size: 23px;
        width: 275px;
        margin-bottom: -30px;
    }


    #container-ad3, #container-ad4 {
        visibility: visible;
        position: relative;
    }


    #container-ad3 {
        top: -50px;
        width: 250px;
    }

    #container-ad4 {
        top: 70px;
        width: 170px;
    }

    #img-ad3, #img-ad4 {
        width: 100%;  
    }


}